<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body{
            margin:0,
            padding:0,
            font-family: Arial, sans-serif,
            background-color: #f4f4f4
        }
        .container{
            max-width:600px,
            margin:50px auto,
            background-color:#ffffff,
            padding:20px,
            border-radius:8px,
            box-shadow:0 0 10px rgba(0,0,0,0.1)
        }
        .header{
            text-align:center,
            padding-bottom:20px,
            border-bottom:1px solid #eeeeee
        }

        .header h2{
            color:#333;
        }

        .message{
            font-size:16px,
            line-height:1.5,
            color:#555555,
            margin:20px 0
        }

        .button{
            display:inline-block,
            padding:12px 24px,
            font-size:16px,
            color:#ffffff,
            background-color:#00a63d,
            color:#ffffff,
            text-decoration:none,
            border-radius:5px
            font-weight:bold,
            margin-top:20px
        }

        .footer{
            text-align:center,
            font-size:13px,
            color:#999,
            margin-top:30px
        }

        a{
            color:#ffffff,
            text-decoration:none
        }
    </style>

    <body>
        <div class="container">
            <div class="header">
                <h2>Verify your Email Address</h2>
            </div>
            <div class="message">
                <p>Hello,</p>
                <p>Thank you for registering with us! Please click the button below to verify your email address and complete your registration:</p>
                <p style="text-align:center;color:#ffffff">
                    <a href="http://localhost:5173/verify/{{token}}" 
                        target="_blank"
                        style="
                        display:inline-block;
                        padding:12px 24px;
                        font-size:16px;
                        color:#ffffff;
                        background-color:#00a63d;
                        text-decoration:none;
                        border-radius:5px;
                        font-weight:bold;
                        margin-top:20px
                        "
                        >Verify Email</a>
                </p>
                <p>If you did not initiate this request, you can safely ignore this email.</p>
                <p>Best regards,<br/>The Team</p>
            </div>
            <div class="footer">
                <p>&copy; 2024 Your Company. All rights reserved.</p>
            </div>
    </body>
</head>
<body>
    
</body>
</html>